h1 {
    text-align: center;
}

img {
    max-width: 300px;
}

.container {
    text-align: center;
}

li {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}