body {
    background-color: hsl(0,0%,10%);
}

#logo-header {
    
    align-items: center;
    padding: 1rem 0;
    display: grid;
    position: relative;

}

h1 {
    text-align: center;
    color: white;
}

.navbar {
    border-top: 1px solid azure;
}
